body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1rem;
}

header {
    display: flex;
    margin: auto;
    max-width: 62rem;
}

nav {
    font-size: 140%;
}
nav ul {
    margin: 0;
    display: flex;
    list-style: none;
}
nav a {
    color: black;
    background-color: beige;
    display: block;
    padding: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-decoration: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    margin-right: 0.5rem;
}
nav a:hover {
    text-shadow: 2px 2px 2px black;
}
nav a.this {
    font-weight: bold;
    border-bottom-color: beige;
}
main {
    display: flex;
    margin: auto;
    max-width: 62rem;
    background-color: beige;
    border-radius: 15px;
}
article {
    width: 50%;
    margin: 0 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50px 20px 50px 20px;
}

article p::first-letter {
    font-size: larger;
    font-weight: bolder;
}

footer {
    display: flex;
    margin: auto;
    max-width: 62rem;
}

@media screen and (max-width: 530px) {
    main {
        display: block;
    }
    article {
        width: auto;
    }
}



